Elephtan/Service References/DepartmentService/DepartmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.nus.edu.sg/storeservcie" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.nus.edu.sg/storeservcie" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.nus.edu.sg/storeservcie">
      <s:element name="QueryDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departmentFindRequest" type="tns:DepartmentFindRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DepartmentFindRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RequestMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RequestUserNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestUserId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryDepartmentResult" type="tns:DepartmentFindResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DepartmentFindResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="CollectionAddress" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HeadName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RepresentativeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CollectionTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="StoreClertName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TelephoneNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FaxNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RepresentativeId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HeadId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CollectionPointId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResponseMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseMessge" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateDepartmentCollectionInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="departmentManageRequest" type="tns:DepartmentManageRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DepartmentManageRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TelephoneNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="FaxNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RepresentativeId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HeadId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CollectionPointId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="UpdateDepartmentCollectionInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDepartmentCollectionInfoResult" type="tns:DepartmentManageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DepartmentManageResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseMessage" />
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:QueryDepartment" />
  </wsdl:message>
  <wsdl:message name="QueryDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:QueryDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDepartmentCollectionInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDepartmentCollectionInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateDepartmentCollectionInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDepartmentCollectionInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="DepartmentServiceSoap">
    <wsdl:operation name="QueryDepartment">
      <wsdl:input message="tns:QueryDepartmentSoapIn" />
      <wsdl:output message="tns:QueryDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartmentCollectionInfo">
      <wsdl:input message="tns:UpdateDepartmentCollectionInfoSoapIn" />
      <wsdl:output message="tns:UpdateDepartmentCollectionInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DepartmentServiceSoap" type="tns:DepartmentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryDepartment">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/QueryDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartmentCollectionInfo">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/UpdateDepartmentCollectionInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DepartmentServiceSoap12" type="tns:DepartmentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryDepartment">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/QueryDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartmentCollectionInfo">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/UpdateDepartmentCollectionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepartmentService">
    <wsdl:port name="DepartmentServiceSoap" binding="tns:DepartmentServiceSoap">
      <soap:address location="http://10.10.1.177:6685/sg/edu/nus/department/webservice/DepartmentService.asmx" />
    </wsdl:port>
    <wsdl:port name="DepartmentServiceSoap12" binding="tns:DepartmentServiceSoap12">
      <soap12:address location="http://10.10.1.177:6685/sg/edu/nus/department/webservice/DepartmentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>