Elephtan/Service References/WaitingItemService/WaitingItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.nus.edu.sg/storeservcie" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.nus.edu.sg/storeservcie" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.nus.edu.sg/storeservcie">
      <s:element name="QueryWaitingItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:WaitingItemFindListRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WaitingItemFindListRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="WaitingStatus" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RequestMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RequestUserNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestUserId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryWaitingItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryWaitingItemsResult" type="tns:WaitingItemFindListResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WaitingItemFindListResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="WaitingItemFindResponseList" type="tns:ArrayOfWaitingItemFindResponse" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResponseMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseMessge" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WaitingItemFindResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentCode" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="WaitingItemList" type="tns:ArrayOfWaitingItem" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfWaitingItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WaitingItem" nillable="true" type="tns:WaitingItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WaitingItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WaitingQuantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WaitingStatus" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WaitingId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CategoryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWaitingItemFindResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WaitingItemFindResponse" nillable="true" type="tns:WaitingItemFindResponse" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryWaitingItemsSoapIn">
    <wsdl:part name="parameters" element="tns:QueryWaitingItems" />
  </wsdl:message>
  <wsdl:message name="QueryWaitingItemsSoapOut">
    <wsdl:part name="parameters" element="tns:QueryWaitingItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="WaitingItemServiceSoap">
    <wsdl:operation name="QueryWaitingItems">
      <wsdl:input message="tns:QueryWaitingItemsSoapIn" />
      <wsdl:output message="tns:QueryWaitingItemsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WaitingItemServiceSoap" type="tns:WaitingItemServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryWaitingItems">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/QueryWaitingItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WaitingItemServiceSoap12" type="tns:WaitingItemServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryWaitingItems">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/QueryWaitingItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WaitingItemService">
    <wsdl:port name="WaitingItemServiceSoap" binding="tns:WaitingItemServiceSoap">
      <soap:address location="http://10.10.1.177:6685/sg/edu/nus/waitingitem/webservice/WaitingItemService.asmx" />
    </wsdl:port>
    <wsdl:port name="WaitingItemServiceSoap12" binding="tns:WaitingItemServiceSoap12">
      <soap12:address location="http://10.10.1.177:6685/sg/edu/nus/waitingitem/webservice/WaitingItemService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>