Elephtan/Service References/RequisitionService/RequisitionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.nus.edu.sg/storeservcie" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.nus.edu.sg/storeservcie" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.nus.edu.sg/storeservcie">
      <s:element name="FindAllRequisitionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequisitionFindListRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequisitionFindListRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RequisitionStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="QueryString" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ApproveUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RequisitionDetailStatus" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RequestMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RequestUserNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestUserId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindAllRequisitionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindAllRequisitionListResult" type="tns:RequisitionFindListResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequisitionFindListResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Requisitions" type="tns:ArrayOfRequisitionFindResponse" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResponseMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseMessge" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequisitionFindResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RequisitionNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreateTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UpdateTime" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RequisitionId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreateUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ApprovingUserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ApprovingUserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Advice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RequisitionStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreateUserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemList" type="tns:ArrayOfRequisitionItem" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfRequisitionItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RequisitionItem" nillable="true" type="tns:RequisitionItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequisitionItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplyAmount" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Unit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRequisitionFindResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RequisitionFindResponse" nillable="true" type="tns:RequisitionFindResponse" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindRequisitionListByDepartmentId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequisitionFindListRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRequisitionListByDepartmentIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindRequisitionListByDepartmentIdResult" type="tns:RequisitionFindListResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRequisitionListByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequisitionFindListRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRequisitionListByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindRequisitionListByUserIdResult" type="tns:RequisitionFindListResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRequisitionGroupByDepartment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequisitionFindListRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRequisitionGroupByDepartmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindRequisitionGroupByDepartmentResult" type="tns:RequisitionFindListResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRequisitionDetailById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequisitionFindRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequisitionFindRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RequisitionId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RequisitionStatus" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="FindRequisitionDetailByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindRequisitionDetailByIdResult" type="tns:RequisitionFindResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRequisition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequisitionManageRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequisitionManageRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RequisitionId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RequisitionStatus" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Advice" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AddRequisitionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRequisitionResult" type="tns:RequisitionManageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequisitionManageResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RequisitionId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="UpdateRequisition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequisitionManageRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRequisitionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateRequisitionResult" type="tns:RequisitionManageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRequisitionItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequisitionItemManageRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequisitionItemManageRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="RequisitionId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RequisitionDetailId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ApplyAmount" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AddRequisitionItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRequisitionItemResult" type="tns:RequisitionItemManageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequisitionItemManageResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseMessage" />
        </s:complexContent>
      </s:complexType>
      <s:element name="UpdateRequisitionItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequisitionItemManageRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRequisitionItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateRequisitionItemResult" type="tns:RequisitionItemManageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRequisitionItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequisitionItemManageRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRequisitionItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteRequisitionItemResult" type="tns:RequisitionItemManageResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FindAllRequisitionListSoapIn">
    <wsdl:part name="parameters" element="tns:FindAllRequisitionList" />
  </wsdl:message>
  <wsdl:message name="FindAllRequisitionListSoapOut">
    <wsdl:part name="parameters" element="tns:FindAllRequisitionListResponse" />
  </wsdl:message>
  <wsdl:message name="FindRequisitionListByDepartmentIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindRequisitionListByDepartmentId" />
  </wsdl:message>
  <wsdl:message name="FindRequisitionListByDepartmentIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindRequisitionListByDepartmentIdResponse" />
  </wsdl:message>
  <wsdl:message name="FindRequisitionListByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindRequisitionListByUserId" />
  </wsdl:message>
  <wsdl:message name="FindRequisitionListByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindRequisitionListByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="FindRequisitionGroupByDepartmentSoapIn">
    <wsdl:part name="parameters" element="tns:FindRequisitionGroupByDepartment" />
  </wsdl:message>
  <wsdl:message name="FindRequisitionGroupByDepartmentSoapOut">
    <wsdl:part name="parameters" element="tns:FindRequisitionGroupByDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="FindRequisitionDetailByIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindRequisitionDetailById" />
  </wsdl:message>
  <wsdl:message name="FindRequisitionDetailByIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindRequisitionDetailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddRequisitionSoapIn">
    <wsdl:part name="parameters" element="tns:AddRequisition" />
  </wsdl:message>
  <wsdl:message name="AddRequisitionSoapOut">
    <wsdl:part name="parameters" element="tns:AddRequisitionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRequisitionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRequisition" />
  </wsdl:message>
  <wsdl:message name="UpdateRequisitionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRequisitionResponse" />
  </wsdl:message>
  <wsdl:message name="AddRequisitionItemSoapIn">
    <wsdl:part name="parameters" element="tns:AddRequisitionItem" />
  </wsdl:message>
  <wsdl:message name="AddRequisitionItemSoapOut">
    <wsdl:part name="parameters" element="tns:AddRequisitionItemResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRequisitionItemSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRequisitionItem" />
  </wsdl:message>
  <wsdl:message name="UpdateRequisitionItemSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRequisitionItemResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRequisitionItemSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRequisitionItem" />
  </wsdl:message>
  <wsdl:message name="DeleteRequisitionItemSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRequisitionItemResponse" />
  </wsdl:message>
  <wsdl:portType name="RequisitionServiceSoap">
    <wsdl:operation name="FindAllRequisitionList">
      <wsdl:input message="tns:FindAllRequisitionListSoapIn" />
      <wsdl:output message="tns:FindAllRequisitionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindRequisitionListByDepartmentId">
      <wsdl:input message="tns:FindRequisitionListByDepartmentIdSoapIn" />
      <wsdl:output message="tns:FindRequisitionListByDepartmentIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindRequisitionListByUserId">
      <wsdl:input message="tns:FindRequisitionListByUserIdSoapIn" />
      <wsdl:output message="tns:FindRequisitionListByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindRequisitionGroupByDepartment">
      <wsdl:input message="tns:FindRequisitionGroupByDepartmentSoapIn" />
      <wsdl:output message="tns:FindRequisitionGroupByDepartmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindRequisitionDetailById">
      <wsdl:input message="tns:FindRequisitionDetailByIdSoapIn" />
      <wsdl:output message="tns:FindRequisitionDetailByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRequisition">
      <wsdl:input message="tns:AddRequisitionSoapIn" />
      <wsdl:output message="tns:AddRequisitionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequisition">
      <wsdl:input message="tns:UpdateRequisitionSoapIn" />
      <wsdl:output message="tns:UpdateRequisitionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRequisitionItem">
      <wsdl:input message="tns:AddRequisitionItemSoapIn" />
      <wsdl:output message="tns:AddRequisitionItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequisitionItem">
      <wsdl:input message="tns:UpdateRequisitionItemSoapIn" />
      <wsdl:output message="tns:UpdateRequisitionItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRequisitionItem">
      <wsdl:input message="tns:DeleteRequisitionItemSoapIn" />
      <wsdl:output message="tns:DeleteRequisitionItemSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RequisitionServiceSoap" type="tns:RequisitionServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindAllRequisitionList">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/FindAllRequisitionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRequisitionListByDepartmentId">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/FindRequisitionListByDepartmentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRequisitionListByUserId">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/FindRequisitionListByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRequisitionGroupByDepartment">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/FindRequisitionGroupByDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRequisitionDetailById">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/FindRequisitionDetailById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequisition">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/AddRequisition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequisition">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/UpdateRequisition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequisitionItem">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/AddRequisitionItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequisitionItem">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/UpdateRequisitionItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRequisitionItem">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/DeleteRequisitionItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RequisitionServiceSoap12" type="tns:RequisitionServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindAllRequisitionList">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/FindAllRequisitionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRequisitionListByDepartmentId">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/FindRequisitionListByDepartmentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRequisitionListByUserId">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/FindRequisitionListByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRequisitionGroupByDepartment">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/FindRequisitionGroupByDepartment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRequisitionDetailById">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/FindRequisitionDetailById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequisition">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/AddRequisition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequisition">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/UpdateRequisition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequisitionItem">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/AddRequisitionItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequisitionItem">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/UpdateRequisitionItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRequisitionItem">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/DeleteRequisitionItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequisitionService">
    <wsdl:port name="RequisitionServiceSoap" binding="tns:RequisitionServiceSoap">
      <soap:address location="http://10.10.1.177:6685/sg/edu/nus/requisition/webservice/RequisitionService.asmx" />
    </wsdl:port>
    <wsdl:port name="RequisitionServiceSoap12" binding="tns:RequisitionServiceSoap12">
      <soap12:address location="http://10.10.1.177:6685/sg/edu/nus/requisition/webservice/RequisitionService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>