Elephtan/Service References/ReportService/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.nus.edu.sg/storeservcie" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.nus.edu.sg/storeservcie" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.nus.edu.sg/storeservcie">
      <s:element name="QueryReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:ReportFindRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReportFindRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:RequestMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EndDate" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReportType" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DepartmentId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TopItemRange" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Year" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Month" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CategoryId" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemId" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RequestMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RequestUserNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestUserId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryReportResult" type="tns:ReportFindResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ReportFindResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ResponseMessage">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ReportDepartmentItemInfoList" type="tns:ArrayOfReportDepartmentItemInfo" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ResponseMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceResponseMessge" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReportDepartmentItemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReportDepartmentItemInfo" nillable="true" type="tns:ReportDepartmentItemInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReportDepartmentItemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReportItemInfoList" type="tns:ArrayOfReportItemInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfReportItemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReportItemInfo" nillable="true" type="tns:ReportItemInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReportItemInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AppliedQuantity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="YearMonthString" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryReportSoapIn">
    <wsdl:part name="parameters" element="tns:QueryReport" />
  </wsdl:message>
  <wsdl:message name="QueryReportSoapOut">
    <wsdl:part name="parameters" element="tns:QueryReportResponse" />
  </wsdl:message>
  <wsdl:portType name="ReportServiceSoap">
    <wsdl:operation name="QueryReport">
      <wsdl:input message="tns:QueryReportSoapIn" />
      <wsdl:output message="tns:QueryReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportServiceSoap" type="tns:ReportServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryReport">
      <soap:operation soapAction="http://www.nus.edu.sg/storeservcie/QueryReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportServiceSoap12" type="tns:ReportServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryReport">
      <soap12:operation soapAction="http://www.nus.edu.sg/storeservcie/QueryReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="ReportServiceSoap" binding="tns:ReportServiceSoap">
      <soap:address location="http://10.10.1.177:6685/sg/edu/nus/report/webservice/ReportService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportServiceSoap12" binding="tns:ReportServiceSoap12">
      <soap12:address location="http://10.10.1.177:6685/sg/edu/nus/report/webservice/ReportService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>